@charset "UFT-8";

@font-face {
    font-family: 'Bebas';
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
}
  @font-face {
    font-family: 'lobster';
    src: url('fontes/Lobster-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('Opentype');
    
}
   
*{
    margin: 0px;
    padding: 0px;
}

  :root{
    --cor0: #ffffff;
    --cor1: #A2EAB7; 
    --cor2: #34AA67;
    --cor3: #1F8C2C;
    --cor4: #1A5C37;
    --cor5: #09331b;
    --font-padrao: arial,Verdana,sans-serif;
    --font-destaque: 'Bebas';
    --font-android: 'Android';
    --font-paragrafo: 'lobster';
   
  }

body{
  background-color: var(--cor2);
  font-family: var(--font-padrao);
  
}
 h2{
  color: var(--cor3);
  font-family: var(--font-android);
  font-weight: 100;
  text-indent: 15px;
 }
  .new{
  font-family: var(--font-android);
  font-weight: 100;
  color: var(--cor3);
  
 }
  .new{
    background-image: linear-gradient(to right, var(--cor1), transparent);
  }
header{
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
  color: white;
  min-height: 150px;
  text-align: center;
  padding-top: 30px;
 
}

header>h1{
  color:  var(--cor0);
            font-family: var(--font-destaque);
           margin-bottom: 10px;
           font-weight: 100;
           font-size: 50px;
           text-shadow: -4px 7px 3px rgba(0, 0, 0, 0.559);
}
 header>.nw{
  font-weight: 100;
  text-align: center;
    margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 5px 5px 5px black;
  font-weight: bold;
  padding-bottom: 38px;
  font-family: var(--font-padrao);
 }
  nav{
  background-color: #09331ba4;
    padding-bottom: 10px;
 padding: 10px ;
}
  nav a:hover{
    background-color: var(--cor1);
    color: red;
    transition-duration: 2.5s;
   
  }
 nav>a{
  
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  padding-left: 20px;
  padding: 10px;
 }
main{
  background-color: white;
  margin-bottom: 30px;
  margin: auto;
  padding: 30px;
  min-width: 320px;
  max-width: 1000px;
  margin-bottom: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px -1px 5px black;
}
  strong{
    color: var(--cor4);
    font-weight: 800;
  }
  a.externo{
    text-decoration: none;
    color: var(--cor2);
  }
  a.externo:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 10px;
    border-radius: 5px;
  }
    a.externo::after{
    content: '\00A0\1F517';
  }
  p{
    text-indent: 2.2em;
    text-align: justify;
    line-height: 2em;
    margin: 15px 0px 15px 0px;
    font-size: 1em;
    font-family: var(--font-paragrafo);
  }

  main img{
  width: 100%;
 
 }
  main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
 }
  aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 3px;
    margin: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   
  }
  aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
  }
 aside{
  background-color: var(--cor1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 1px 4px black;
  margin-top: 15px;
 }
  div{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0 -30px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
  }
   div iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
   }
 footer{
  background-color: black;
  color: white;
 
 }

  footer p{
    text-align: center;
    padding-bottom: 1px;
    margin: 0px;
  }