  @charset "UTF-8";

     

        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
        @font-face {
            font-family: 'Android' ;
            src: url('projecto android/fontes/idroid.otf') format('opentype');
            font-weight: 100;
        }

        :root{
            --cor0: #ffffff;
            --cor1: #A2EAB7; 
            --cor2: #34AA67;
            --cor3: #1F8C2C;
            --cor4: #1A5C37;
            --cor5: #09331b;
            --font-padrao: arial,Verdana,sans-serif;
            --font-destaque: 'Bebas Neue';
            --font-android: 'Android';

        }
           *{
            margin: 0px;
            padding: 0px;
           }
           

        body{
           background-color: var(--cor2);
           font-family: var(--font-padrao);
          
        }

        a.externo::after{
            content: '\00A0\1F517';

        }
         header{
            background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
            min-height: 150px;
            text-align: center;
            padding-top: 40px;
         }
        header>h1{
            color:  var(--cor0);
            font-family: var(--font-destaque);
           margin-bottom: 10px;
           font-size: 3em;
           text-shadow: -4px 7px 3px rgba(0, 0, 0, 0.559);
        }
        header>p{
            color: var(--cor0);
            font-family: var(--font-padrao);
            font-size: 1.2em;
            width: 500px;
            padding-left: 10px;
            padding-right: 5px;
            margin: auto;
            text-shadow: -4px 7px 3px rgba(0, 0, 0, 0.401);
        }
        nav{
            background-color: var(--cor4);
            padding: 10px;
            box-shadow: 0px 7px 10px rgba(49, 48, 48, 0.425);

       }
       nav a{
           color: white;
           text-decoration: none;
           padding: 10px;
           font-weight: 900;
           border-radius: 5px;
           transition-duration: 1s;
       }
      nav a:hover{
       background-color: var(--cor2);
      }
      main{
        background-color: white;
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
       padding: 30px;
       box-shadow: 0px 0px 10px rgba(1, 1, 1, 0.541);
       margin-bottom: 30px;
       border-bottom-left-radius: 10px ;
       border-bottom-right-radius: 10px;
       
    }

        main h1{
            color: var(--cor3);
           font-family: var(--font-android);
           font-weight: 100;
          
           
        }
         main h2{
            font-family: var(--font-android);
            color: var(--cor4);
            font-size: 1.3em;
            background-image: linear-gradient(to right, var(--cor1), transparent);
            text-indent: 10px;
            font-weight: 100;
         }
            
         main p{
            margin: 15px 0px 15px 0px;
            text-align: justify;
            text-indent: 30px;
            line-height: 2em;
            font-size: 1em;
           }
           main strong{
            color: var(--cor3);
            font-weight: 900;
            
           }
           main a{
            background-color: var(--cor1);
            text-decoration: none;
            font-weight: bold;
            color: var(--cor2);
            padding: 2px 6px;
           }
           main a:hover{
            text-decoration: underline;
            color: var(--cor5);
           }
       
       
        main img{
            width: 100%;
            
        }
        main img.pequena{
            max-width: 350px;
            display: block;
            margin: auto;
        }
        div.video{
            background-color: var(--cor5);
            margin-bottom: 30px;
            margin: 0px -30px ;
            padding: 20px;
            position: relative;
            padding-bottom: 60%;

        }
        div.video > iframe{
            position: absolute;
            top:   5%   ;
            left:   5%;
            width: 90%;
            height: 90%;
        }

        ul {
            list-style-type: '\2714\00A0\00A0';
            list-style-position: inside;
            columns: 2;
         }
     aside{
        background-color: var(--cor1);
        font-family: var(--font-destaque);
        border-radius: 5px;
        padding: 10px;
        box-shadow: 3px 3px 8px black;
        margin: 14px;
        margin: 14px -9px 0px -9px;
     }

     aside >h3{
        background-color: var(--cor4);
        color: white;
        font-weight: 100;
        padding: 5px;
        margin: -10px;
       border-top-left-radius: 5px;
       border-top-right-radius: 5px;
       
     }
        footer{
            background-color: var(--cor5);
            color: white;
            text-align: center;
           
           
        }
        footer a{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
        footer a:hover{
            text-decoration: underline;
            color: var(--cor1);
        }
   